<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imitation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> 	
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 
    <!-- audio permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- get task -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <!-- Storage permission -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.activity.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- welcome -->
        <activity
            android:name="com.example.activity.welcomeview.WelcomeActivity"
            android:launchMode="singleTask" >
        </activity>

        <!-- login and register -->
        <activity
            android:name="com.example.activity.login.LoginActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.register.RegisterActivity"
            android:launchMode="singleTask" >
        </activity>

        <!-- main function -->
        <activity android:name="com.example.activity.friend.FriendActivity" >
        </activity>
        <activity android:name="com.example.activity.visitor.VisitorActivity" >
        </activity>
        <activity android:name="com.example.activity.publish.PublishActivity" >
        </activity>
        <activity android:name="com.example.activity.diary.DiaryActivity" >
        </activity>
        <activity android:name="com.example.activity.friendcircle.FriendCircleActivity">
        </activity>
        <activity
            android:name="com.example.activity.communication.ChatActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activity.main.function.MainFunctionActivity"
            android:launchMode="singleTask" >
        </activity>


        <!-- service -->
        <service android:name="com.example.activity.main.function.BindService" >
            <intent-filter>
                <action android:name="com.example.activity.main.function.BIND_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>